* { 
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body {
   background-image: url("https://wallpapercave.com/wp/wp3208018.jpg");
    background-size: cover;
}
.box-login {
    position: relative;
    left: 70px;
    width: 400px;
    height: 440px;
    padding: 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 0px 0px 40px 40px;
    align-items: center;
}

.bl > .box-t {
    margin-top: 10px;
    text-align: center;
    color: #002c35;
    font-size: 1.3rem;
    font-weight: bold;
}
a > p {
    position: relative;
    left: 30px;
}
form {
    margin: 0px;
    display: flex;
    flex-direction: column;
}
form > input, button {
    position: relative;
    top: 0px;
    width: 300px;
    padding: 5px;
    border-radius: 4px;
    border: 3px #002c35 solid; 
    text-align: center;
}
form > button {
    position: relative;
    width: 180px;
    top: -8px;
    margin-bottom: 5px;
    background-color: #b7c2c5;
}
.fa-right-to-bracket{
    position: relative;
    right: 10px;
    top: 1px;
}
.fa-moon{
    color: white;
    position: absolute;
    top: 18px;
    left: 98%;
    font-size: 1.3rem;
}
a {   
  color: #002c35;
  font-weight: bold;  
  text-decoration: none;
}
a > p {
    position: absolute;
    left: 50px;
}
@keyframes scale {
    to {transform: scale(1.1);}
    from {transform: scale(1.0);}
}
.btn-submit:hover{
    animation: scale 2s 2 forwards ease;
    transition: transform 500ms ease-in;
    cursor: pointer;
}
.language{
    position: absolute;
    top: 13px;
    left: 95%;
    border-radius: 50%;
    background-size: cover;
    width: 30px;
    height: 30px;
    border: 3px solid white;
    background-image: url("https://cdn-icons-png.flaticon.com/512/197/197386.png");
}
.language:hover{
    transform: scale(1.2);
    transition: 4s;
    cursor: pointer;
}
span {
    position: relative;
    bottom: 25px;
    width: 300px;
    height: 50px;
}
@keyframes aflip {
    to { top: 0px}
    from { top: -100px}
}
.aflip {
    position: relative;
    animation: aflip 3s 1 ease;
}
@keyframes roll-spinner {
    to {transform: rotate(0deg)}
    from{transform: rotate(360deg)}
}
.fa-spinner {
    visibility: hidden;
    position: absolute;
    top: 200px;
    font-size: 2rem;
    transition: animation 2s;
}
.faflip {
    animation: roll-spinner 1s linear 5;
}