* { 
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body {
   background-image: url("https://wallpapercave.com/wp/wp3208018.jpg");
   background-size: cover;      
   background-repeat:no-repeat;
}
.box-login {
    position: relative;
    left: 70px;
    width: 400px;
    height: 440px;
    padding: 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 0px 0px 40px 40px;
    align-items: center;
}

.bl > .box-t {
    margin-top: 10px;
    text-align: center;
    color: #002c35;
    font-size: 1.3rem;
    font-weight: bold;
}
a > p {
    position: relative;
    left: 30px;
}
form {
    margin: 0px;
    display: flex;
    flex-direction: column;
}
form > input, button {
    position: relative;
    top: 0px;
    width: 300px;
    padding: 5px;
    border-radius: 4px;
    border: 3px #002c35 solid; 
    text-align: center;
}
form > button {
    width: 180px;
    margin-bottom: 20px;
    background-color: #b7c2c5;
}
.fa-right-to-bracket{
    position: relative;
    right: 10px;
    top: 1px;
}
.fa-moon{
    margin-left: 30px;
    color: white;
    font-size: 1.7rem;
}
.fa-moon:hover{
    transition: color 0.2s ease;
    cursor: pointer;
    color: rgb(102, 100, 100);
}
a {   
  color: #002c35;
  font-weight: bold;  
  text-decoration: none;
}
@keyframes scale {
    to {transform: scale(1.1);}
    from {transform: scale(1.0);}
}
.btn-submit:hover{
    animation: scale 2s 2 forwards ease;
    transition: transform 500ms ease-in;
    cursor: pointer;
}
.language{
    border-radius: 50%;
    background-size: cover;
    width: 30px;
    height: 30px;
    border: 4px solid white;
    background-image: url("https://cdn-icons-png.flaticon.com/512/197/197386.png");
}
@keyframes roll-spinner {
    to {transform: rotate(0deg)}
    from{transform: rotate(360deg)}
}
.fa-spinner {
    visibility: hidden;
    position: absolute;
    top: 200px;
    font-size: 2rem;
    transition: animation 2s;
}
.faflip {
    animation: roll-spinner 1s linear 5;
}
.main-header{
    float: right;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 60px;
    background-color:rgb(0, 0, 0);
    width: 200px;
    height: 60px;
    border-radius: 10px 0px 0px 10px; 
}
#teste{
    position: relative;
    font-weight: bold;
    left: 190px;
    top: 10px;
    font-size: 30px;
    float: right;
    color: white;
}